@{
    ViewData["Title"] = "User Account";
}

<div class="text-left">
    <h1 class="display-4">User Account</h1>

    <p>Welcome!</p>
    @if ((bool)ViewData["IsLoggedIn"]) 
    { 
        <p>Currently logged in as @ViewData["Username"]</p> 
    }
    else
    {
        <p>You are logged out.</p>
    }

    <p>@Html.ActionLink("View Orders", "ViewOrders")</p>

    <p>@Html.ActionLink("Logout", "Logout")</p>
</div>